server:
  port: 8080
  servlet:    context-path: /
    encoding:      charset: UTF-8
      enabled: true
      force: true
      

spring:  h2:    console:      enabled: true
      path: /h2-console
      
      
  datasource:    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: test
    password: 1234
    
    
  jpa:    hibernate:      ddl-auto: update
      naming:        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true