<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Username"/><br>
	<input type="password" name="password" placeholder="Password">
	<button>로그인</button>
</form>
<a href="/oauth2/authorization/google">구글 로그인</a>
<a href="/oauth2/authorization/facebook">페이스북 로그인</a> <!-- 구글과 페이스북은 oauth2 라이브러리를 통해 주소 고정 -->
<a href="/oauth2/authorization/naver">네이버 로그인</a>
<a href='/joinForm'>회원가입</a>
</body>
</html>